.landing-page-header {
  background: #644131;
  color: white;
  height: 400px;
  background-image: url('../logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px 300px;
}
